Repository gisce/powerp-docs, pull requests merged in 2024-03, with the labels that each got.

#396 Manual de Anexo VII en Distribuidora
  docs/distri/_static/medidas_anexo_VII/async_form_anexo_VII.png
  docs/distri/_static/medidas_anexo_VII/list_async_files.png
  docs/distri/_static/medidas_anexo_VII/menu_anexo_VII.png
  docs/distri/_static/medidas_anexo_VII/wizard_anexo_VII_download.png
  docs/distri/_static/medidas_anexo_VII/wizard_download_all.png
  docs/distri/medidas_anexo_VII.md
  docs/distri/medidas_escila.md
  docs/distri/wizard_anexo_VII_download.png
  locales/es_ES/LC_MESSAGES/messages.po
  mkdocs.yml
  mkdocs_es.yml
Labels: Distri

#397 Actualizaciones en la sección de Medidas de Distribuidora
  docs/distri/medidas.md
  locales/es_ES/LC_MESSAGES/messages.po
  mkdocs.yml
  mkdocs_es.yml
Labels: enhancement, Distri

#398 Correcciones menores en las secciones de Medidas de Distribuidora
  docs/distri/medidas_ficheros_desagregados.md
  docs/distri/medidas_generacion.md
  locales/es_ES/LC_MESSAGES/messages.po
Labels: bug, Distri
