Repository gisce/powerp-docs, pull requests merged in 2025-01, with the labels that each got.

#401 Actualización de manuales de orakWlum (Enero 2025)
  .github/workflows/python2.7-app.yml
  docs/comer/_static/orakWlum/actualitzar_perdues.png
  docs/comer/_static/orakWlum/algorithm_select.png
  docs/comer/_static/orakWlum/formulari_historics.png
  docs/comer/_static/orakWlum/formulari_historics_bc.png
  docs/comer/_static/orakWlum/formulari_perdues.png
  docs/comer/_static/orakWlum/formulari_previsions.png
  docs/comer/_static/orakWlum/formulari_previsions_bc.png
  docs/comer/_static/orakWlum/generar_historic.png
  docs/comer/_static/orakWlum/generar_previsio.png
  docs/comer/_static/orakWlum/historic_exportar.png
  docs/comer/_static/orakWlum/importar_perdues.png
  docs/comer/_static/orakWlum/linies_historics_link.png
  docs/comer/_static/orakWlum/linies_previsions_link.png
  docs/comer/_static/orakWlum/llistat_perdues.png
  docs/comer/_static/orakWlum/menu_orakWlum.png
  docs/comer/_static/orakWlum/previsio_exportar.png
  docs/comer/algoritmos_orakWlum.md
  docs/comer/orakWlum.md
  locales/es_ES/LC_MESSAGES/messages.po
Labels: enhancement, Comer, orakWlum

#383 Actualizar manual de creación de fichas de Autoconsumo
  docs/distri/Autoconsum/creacio_autoconsum.md
  locales/es_ES/LC_MESSAGES/messages.po
Labels: enhancement, Distri

#386 Incorporación de secciones genéricas para contratación y uso general del ERP
  docs/base/AdministracionPublica/aeat.md
  docs/base/_static/aeat/campos_sii_diario_financiero.png
  docs/base/_static/aeat/campos_sii_factura.png
  docs/base/_static/aeat/campos_sii_partner.png
  docs/base/_static/aeat/campos_sii_posicion_fiscal.png
  docs/base/_static/aeat/camps_SII_factura.png
  docs/base/_static/aeat/camps_SII_posicion_fiscal.png
  docs/base/_static/aeat/enviar_factura_SII.png
  docs/base/_static/aeat/menu_SII.png
  docs/base/_static/csv/csv.png
  docs/base/_static/csv/csv_3.png
  docs/base/_static/csv/csv_4.png
  docs/base/_static/manual_erp/10_menu.png
  docs/base/_static/manual_erp/11_menu.png
  docs/base/_static/manual_erp/12_menu.png
  docs/base/_static/manual_erp/13_menu.png
  docs/base/_static/manual_erp/14_menu.png
  docs/base/_static/manual_erp/15_menu.png
  docs/base/_static/manual_erp/16_menu.png
  docs/base/_static/manual_erp/17a_menu.png
  docs/base/_static/manual_erp/18_menu.png
  docs/base/_static/manual_erp/19a_menu.png
  docs/base/_static/manual_erp/1a_menu.png
  docs/base/_static/manual_erp/20a_menu.png
  docs/base/_static/manual_erp/21a_menu.png
  docs/base/_static/manual_erp/22a_menu.png
  docs/base/_static/manual_erp/23a_menu.png
  docs/base/_static/manual_erp/24a_menu.png
  docs/base/_static/manual_erp/25a_menu.png
  docs/base/_static/manual_erp/26a_menu.png
  docs/base/_static/manual_erp/2a_menu.png
  docs/base/_static/manual_erp/3a_menu.png
  docs/base/_static/manual_erp/4a_menu.png
  docs/base/_static/manual_erp/5a_menu.png
  docs/base/_static/manual_erp/6a_menu.png
  docs/base/_static/manual_erp/7a_menu.png
  docs/base/_static/manual_erp/8a_menu.png
  docs/base/_static/manual_erp/9a_menu.png
  docs/base/_static/polizas/menu.png
  docs/base/_static/polizas/polissa_general.png
  docs/base/guia_contractacio.md
  docs/base/menu_erp.md
  docs/base/polizas.md
  docs/base/pujar_csv_erp.md
  docs/comer/_static/llistes_preus/esquema_proces.jpg
  docs/comer/_static/processos/LOT_FACTURACIO.jpg
  docs/comer/facturacion.md
  docs/distri/facturacion_contratacion.md
  locales/es_ES/LC_MESSAGES/messages.po
  mkdocs.yml
  mkdocs_es.yml
Labels: enhancement, Comer, Distri

#402 Ampliación de las secciones de Gestión de CILs y de Ofertas de Generación
  docs/representacion/_static/cils/liquidaciones_formulario.png
  docs/representacion/_static/cils/liquidaciones_listado.png
  docs/representacion/_static/cils/mcilqh_formulario.png
  docs/representacion/_static/cils/mcilqh_importacion.png
  docs/representacion/_static/cils/mcilqh_listado.png
  docs/representacion/_static/cils/menu_cils.png
  docs/representacion/_static/ofertas/menu_ofertas.png
  docs/representacion/_static/ofertas/ofertas_formulario.png
  docs/representacion/_static/ofertas/ofertas_formulario_omie.png
  docs/representacion/_static/ofertas/ofertas_generacion.png
  docs/representacion/_static/ofertas/ofertas_listado.png
  docs/representacion/_static/ofertas/ofertas_omie_formulario.png
  docs/representacion/_static/ofertas/ofertas_omie_formulario_2.png
  docs/representacion/_static/ofertas/ofertas_omie_listado.png
  docs/representacion/_static/ofertas/ofertas_omplir_hores.png
  docs/representacion/cils.md
  docs/representacion/ofertas.md
  docs/representacion/previsiones.md
  locales/es_ES/LC_MESSAGES/messages.po
  mkdocs.yml
  mkdocs_es.yml
Labels: enhancement, representacion
